#bodyMain {
    width:100%;
    height:100%;
    border:0px;
    margin:0px;
    padding:0px;
    background-color:rgb(191,203,251);
}

#navigate {
    padding:2.5vh 2vw;
    width:96vw;
    height:5vh;
    background-color:rgb(140,161,246);
    border-radius:0 0 25px 25px;
}

#classSelect{
    background-color:rgb(125,137,185);

    height:5vh;
    width:30vw;
    border-radius:20px;
    float:left;
}

#bukvaSelect{
    background-color:rgb(125,137,185);

    height:3vh;
    width:30vw;
    padding:1vh 1vw;

    border-radius:20px;
    float:right;
    display: grid;
    grid-column-gap: 1vw;
}

.bukvaFSS{
    grid-template-columns: repeat(7, 1fr);
}

.bukvaEN{
    grid-template-columns: repeat(6, 1fr);
}

.bukvaTE{
    grid-template-columns: repeat(4, 1fr);
}

#classText {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: system-ui, sans-serif;
    float:left;
    color:white;
    font-size:2.5vh;
    height:5vh;
    border-radius:0 20px 20px 0;
    background-color:rgba(0,0,0,0);
    border:5px solid rgba(0,0,0,0);
    box-shadow:0px;
}

#classText:focus {
     outline: none;
}

#classes {
    border:5px solid rgb(125,137,185);
    font-size:2.5vh;
    float:right;
    color:white;
    box-shadow:0px;
    border-radius:0 20px 20px 0;
    background-color:rgba(170,185,251,255);
    height:5vh;
}

#classes:focus {
     outline: none;
}

.options {
    font-size:35px;
    color:white;
    background-color:rgb(140,161,246);
    border:0px;
    padding:0px;
}

.bukva {
    font-family: system-ui, sans-serif;
    font-weight:750;
    color:white;
    font-size:1vh;
    border:0px;
    padding:0px;
    background-color:rgb(140,161,246);
    border-radius:10px;
}

.hidden{
    display:none;
}

#selectedClass{
    margin-top:0.5vh;
    padding-top:0.25vh;
    width:100vw;
    height:89.5vh;
    background-color:rgb(140,161,246);
    border-radius:25px 25px 0 0;
}

.children{
    margin:0.25vh 1vw;
    height:5vh;
    background-color:rgb(125,137,185);
    padding:0 25px;
}

.name{
    margin:0px;
    font-family: system-ui, sans-serif;
    color:white;
    margin-top:1.35vh;
    height:2.3vh;
    font-size:1.75vh;
    float:left;
}

.points{
    margin:0px;
    font-family: system-ui, sans-serif;
    color:white;
    margin-top:1.35vh;
    height:2.3vh;
    font-size:1.75vh;
    float:right;
}